.about-us__title,
.about-us__description,
.about-us__link {
  margin-left: 180px;
}

.about-us__title {
  margin-bottom: 22px;
  color: #666666;
  font-size: 36px;
  font-weight: 400;
  line-height: 140.6%;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.about-us__title::before {
  position: absolute;
  top: 850px;
  left: 369px;
  content: '';
  width: 220px;
  height: 317px;
  background-image: url('../img/2005.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__description {
  width: 972px;
  margin-bottom: 23px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 134%;
}

.about-us__description:last-of-type {
  margin-bottom: 37px;
}

.about-us__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #00B2FF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  padding: 17px 54px 13px 45px;
  background-color: #FFFFFF;
  border: 1px solid #BFECFF;
  border-radius: 5px;
}

.about-us__dots {
  display: none;
  width: 20px;
}

@media (max-width: 768px) {
  .about-us__title,
  .about-us__description,
  .about-us__link {
    margin-left: 185px;
  }

  .about-us__title {
    margin-top: 10px;
    margin-bottom: 26px;
    font-size: 32px;
  }

  .about-us__title::before {
    top: 677px;
    left: 19px;
    width: 219px;
    height: 361px;
  }

  .about-us__description {
    width: 530px;
  }

  .about-us__description:last-of-type {
    margin-bottom: 42px;
  }

  .about-us__dots {
    display: inline-block;
    vertical-align: middle;
  }

  .about-us__mobile {
    display: none;
  }

  .about-us__link {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 320px) {
  .about-us__title,
  .about-us__description,
  .about-us__link {
    margin-left: 0;
  }

  .about-us__title {
    margin-top: 10px;
    margin-bottom: 23px;
    font-size: 28px;
  }

  .about-us__title::before {
    display: none;
  }

  .about-us__description {
    width: 290px;
  }

  .about-us__description:first-of-type {
    margin-bottom: 46px;
  }

  .about-us__description:last-of-type {
    margin-bottom: 31px;
  }
}
