.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 74px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.advantages-list__item {
  position: relative;
  width: 528px;
  min-height: 228px;
  padding: 70px 0 0 40px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  border-left: 2px solid #00b2ff;
  background-color: #ffffff;
}

.advantages-list__item:hover {
  background-color: #00b2ff;
}


.advantages-list__item:hover .advantages__title,
.advantages-list__item:hover .advantages__description {
  color: #ffffff;
}

.advantages-list__item:active .advantages__title,
.advantages-list__item:active .advantages__description {
  color: #000000;
}

.advantages-list__item:hover .advantages__sprite {
  fill: #ffffff;
}

.advantages-list__item:nth-child(odd) {
  margin-right: 30px;
}

.advantages__title {
  color: #00b2ff;
  font-size: 24px;
  font-weight: 400;
  line-height: 140.6%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin-bottom: 18px;
}

.advantages__sprite {
  fill: #00b2ff;
  position: absolute;
  top: 40px;
  left: 43px;
}

.advantages__description {
  width: 480px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 134%;
  margin-top: 15px;
}

.advantages__indent {
  margin-left: 11px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .advantages-list {
    margin-bottom: 20px;
  }

  .advantages-list__item {
    min-height: 195px;
    width: 318px;
    margin: 0;
    margin-bottom: 35px;
    padding: 43px 0 0 25px;
  }

  .advantages-list__item--privacy {
    padding-top: 47px;
    margin-bottom: 30px;
  }

  .advantages-list__item--price {
    padding-top: 50px;
    margin-bottom: 25px;
  }

  .advantages__indent {
    margin: 0;
  }

  .advantages__title {
    margin-bottom: 13px;
  }

  .advantages__title--total-privacy {
    margin-bottom: 17px;
  }

  .advantages__title--custom-cost {
    margin-bottom: 10px;
  }

  .advantages__sprite {
    position: absolute;
    top: 26px;
    left: 24px;
  }

  .advantages__description {
    width: 290px;
    margin-top: 5px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .advantages-list {
    margin-bottom: 36px;
  }

  .advantages-list__item {
    margin-bottom: 21px;
    padding-top: 43px;
    padding-left: 25px;
  }

  .advantages__list--fast-timeline {
    min-height: 263px;
  }

  .advantages-list__item:nth-child(odd) {
    margin-right: 0;
  }

  .advantages-list .advantages-list__item--privacy {
    min-height: 182px;
    margin-bottom: 28px;
  }

  .advantages-list .advantages-list__item--price {
    min-height: 191px;
  }

  .advantages__title {
    width: 245px;
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 13px;
  }

  .advantages__title--total-privacy {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .advantages__title--custom-cost {
    margin-top: 16px;
  }

  .advantages__title--total-privacy::before,
  .advantages__title--custom-cost::before {
    top: 24px;
  }

  .advantages__description {
    width: 245px;
  }

  .advantages__list--major-supplier .advantages__description {
    margin-bottom: 8px;
  }

  .advantages__description--price {
    width: 255px;
  }

  .advantages__indent--mobile {
    display: inline-block;
    width: 40px;
  }

  .advantages__title--major-supplier + .advantages__description {
    width: 250px;
    margin-bottom: 29px;
  }

  .advantages__title--total-privacy + .advantages__description {
    margin-top: -7px;
  }

  .advantages__sprite {
    top: 16px;
    left: 25px;
  }
}
