.advantages__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 15px;
  margin-right: -8px;
  margin-bottom: 75px;
}

.advantages-list__item {
  position: relative;
  width: 528px;
  min-height: 225px;
  padding: 75px 0 0 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ebebeb;
  border-left: 2px solid #00b2ff;
  background-color: #ffffff;
}

.advantages-list__item--privacy,
.advantages-list__item--price {
  padding-top: 70px;
}

.advantages-list__item:hover {
  background-color: #00b2ff;
  cursor: pointer;
}


.advantages-list__item:hover .advantages__title,
.advantages-list__item:hover .advantages__description {
  color: #ffffff;
}

.advantages-list__item:active .advantages__title,
.advantages-list__item:active .advantages__description {
  color: #000000;
}

.advantages-list__item:hover .advantages__sprite {
  fill: #ffffff;
}

.advantages__title {
  color: #00b2ff;
  font-size: 24px;
  font-weight: 400;
  line-height: 140.6%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin-bottom: 18px;
}

.advantages__sprite {
  fill: #00b2ff;
  position: absolute;
  top: 40px;
  left: 43px;
}

.advantages__description {
  width: 480px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 134%;
  margin-top: 15px;
}

.advantages__indent {
  margin-left: 11px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .advantages__container {
    width: 100%;
  }

  .advantages-list {
    margin-bottom: 30px;
    width: 746px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages-list__item {
    min-height: 259px;
    width: 318px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 26px;
    padding: 43px 0 0 25px;
  }

  .advantages-list__item--privacy {
    min-height: 184px;
    padding-top: 47px;
  }

  .advantages-list__item--price {
    min-height: 184px;
    padding-top: 50px;
  }

  .advantages__indent {
    margin: 0;
  }

  .advantages__title {
    margin-bottom: 13px;
  }

  .advantages__title--total-privacy {
    margin-bottom: 17px;
  }

  .advantages__title--custom-cost {
    margin-bottom: 10px;
  }

  .advantages__sprite {
    position: absolute;
    top: 22px;
    left: 24px;
  }

  .advantages__description {
    width: 290px;
    margin-top: 5px;
  }

  .advantages-list__item--price .advantages__sprite {
    top: 27px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .advantages__container {
    width: 100%;
  }

  .advantages-list {
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages-list__item:nth-child(odd) {
    margin-right: auto;
  }

  .advantages-list__item {
    width: 265px;
    margin-bottom: 21px;
    padding-top: 43px;
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__list-fast-timeline {
    min-height: 263px;
  }

  .advantages-list .advantages-list__item--privacy {
    min-height: 182px;
    margin-bottom: 19px;
  }

  .advantages-list .advantages-list__item--price {
    min-height: 191px;
  }

  .advantages__title {
    width: 245px;
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 13px;
  }

  .advantages__title--total-privacy {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .advantages__title--custom-cost {
    margin-top: 16px;
  }

  .advantages__title--total-privacy::before,
  .advantages__title--custom-cost::before {
    top: 24px;
  }

  .advantages__description {
    width: 245px;
    margin-top: 0;
  }

  .advantages__list-major-supplier .advantages__description {
    margin-bottom: 8px;
  }

  .advantages__description--price {
    width: 255px;
  }

  .advantages__indent {
    margin-left: 0;
  }

  .advantages__indent-mobile {
    display: inline-block;
    width: 40px;
  }

  .advantages__title--major-supplier + .advantages__description {
    width: 250px;
    margin-bottom: 29px;
  }

  .advantages__title--total-privacy + .advantages__description {
    margin-top: -7px;
  }

  .advantages-list__item--privacy {
    padding-top: 48px;
  }

  .advantages-list__item--price {
    padding-top: 51px;
  }

  .advantages__sprite {
    top: 22px;
    left: 25px;
  }

  .advantages-list__item--price .advantages__sprite {
    top: 18px;
  }
}
