.contacts {
  width: 335px;
  order: -2;
}

.contacts input {
  display: none;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #1b2d37;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.contacts__description {
  margin-top: 0;
  margin-bottom: 0;
  color: #8a9398;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.contacts__description a:hover {
  color: #00b2ff;
}

.contacts__description a:active {
  color: #000000;
}

.contacts__tel {
  text-decoration: none;
  color: #8a9398;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts {
    width: 340px;
    order: 0;
    margin-right: 10px;
  }

  .contacts__title {
    margin-top: 0;
    margin-left: 3px;
    margin-bottom: 25px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contacts {
    position: relative;
    width: 285px;
    margin-bottom: 55px;
    order: 1;
  }

  .contacts__title {
    margin-bottom: 32px;
    margin-left: 15px;
  }

  .contacts__description {
    display: none;
    margin-left: 15px;
  }

  .contacts__tab-title {
    position: absolute;
    top: -30px;
    left: -15px;
    width: 300px;
    height: 72px;
  }

  .contacts__tab-title::before {
    position: absolute;
    top: 37px;
    left: 303px;
    content: "";
    width: 14px;
    height: 2px;
    background-color: #c4c4c4;
  }

  .contacts__tab-title::after {
    position: absolute;
    top: 31px;
    left: 309px;
    content: "";
    width: 2px;
    height: 14px;
    background-color: #c4c4c4;
  }

  .contacts :checked ~ .contacts__tab-title::after {
    display: none;
  }

  .contacts :checked ~ .contacts__description {
    display: block;
  }

  .contacts :checked ~ .contacts__title::before {
    top: 199px;
  }
}
