.contacts {
  width: 335px;
}

.contacts input {
  display: none;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #1b2d37;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.contacts__description {
  margin-top: 10px;
  color: #8a9398;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts {
    width: 340px;
  }

  .contacts__title {
    margin-bottom: 25px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contacts {
    position: relative;
    width: 285px;
    margin-bottom: 40px;
  }

  .contacts__title {
    margin-bottom: 32px;
  }

  .contacts__description {
    display: none;
  }

  .contacts__tab-title::before {
    position: absolute;
    top: 7px;
    left: 273px;
    content: '';
    width: 16px;
    height: 2px;
    background-color: #c4c4c4;
  }

  .contacts__tab-title::after {
    position: absolute;
    top: 0;
    left: 280px;
    content: '';
    width: 2px;
    height: 16px;
    background-color: #c4c4c4;
  }

  .contacts :checked + .contacts__tab-title::after {
    display: none;
  }

  .contacts :checked ~ .contacts__description {
    display: block;
  }

  .contacts__title::before {
    position: absolute;
    top: 40px;
    left: -15px;
    content: '';
    width: 320px;
    height: 1px;
    background-color: #dcdcdc;
  }

  .contacts :checked ~ .contacts__title::before {
    top: 199px;
  }
}
