.contacts-list {
  list-style: none;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
}

.contacts-list__tel,
.contacts-list__mail {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.contacts-list__tel:hover,
.contacts-list__mail:hover {
  color: #00b2ff;
}

.contacts-list__tel:active,
.contacts-list__mail:active {
  color: #000000;
}

.contacts-list__item--mail::before {
  position: absolute;
  top: 14px;
  left: -40px;
  content: "";
  width: 19px;
  height: 14px;
  background-image: url("../img/icon-emale.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts-list__item--tel::before {
  position: absolute;
  top: 12px;
  left: 184px;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts-list__tel {
  margin-left: 122px;
}

.contacts-list__item--link {
  margin-left: 50px;
}

.contacts-list__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  padding: 14px 28px 12px 26px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.contacts-list__link:hover {
  color: #00b2ff;
  border-color: #00b2ff;
}

.contacts-list__link:active {
  color: #000000;
  border-color: #000000;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts-list {
    margin-right: 0;
  }

  .contacts-list__mobile {
    display: none;
  }

  .contacts-list__item:last-child {
    border: none;
  }

  .contacts-list__item--mail::before {
    top: -12px;
    left: -34px;
    width: 25px;
    height: 19px;
  }

  .contacts-list__item--tel::before {
    top: -16px;
    left: 26px;
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contacts-list__mobile {
    display: none;
  }

  .contacts-list__item--mail::before {
    width: 25px;
    height: 19px;
    top: -13px;
    left: -22px;
  }

  .contacts-list__item--tel::before {
    width: 24px;
    height: 24px;
    top: -16px;
    left: 25px;
  }
}
