.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.copyright__item--mobile {
  margin: 0;
}

.copyright__item {
  color: #8a9398;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.copyright--rights {
  margin-right: 68px;
  margin-left: 15px;
}

.copyright--rights .copyright__item {
  margin-top: 0;
  margin-right: 3.88vw;
}

.copyright--confidentiality {
  width: 217px;
}

.copyright--developer {
  width: 192px;
  margin-left: auto;
  margin-right: 10px;
}

.copyright--developer a:hover,
.copyright--confidentiality a:hover {
  color: #00b2ff;
}

.copyright--developer a:active,
.copyright--confidentiality a:active {
  color: #000000;
}

.copyright--developer .copyright__item,
.copyright--confidentiality .copyright__item {
  text-decoration: none;
  display: block;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .copyright--rights {
    order: -3;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .copyright--rights .copyright__item {
    margin-top: 15px;
    margin-right: auto;
  }

  .copyright--rights .copyright__item:first-child {
    display: none;
  }

  .copyright--developer {
    margin-right: 5px;
  }

  .copyright--developer .copyright__item:first-child {
    margin-right: 0;
  }

  .copyright--developer::before {
    top: 387px;
  }

  .copyright--confidentiality {
    margin-left: 7px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .copyright--developer .copyright__item:first-child {
    margin-right: 0;
    margin-left: 38px;
    margin-top: 15px;
    margin-bottom: 21px;
  }

  .copyright--rights {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
    order: -3;
  }

  .copyright--rights .copyright__item {
    width: 250px;
    margin-top: 15px;
    margin-right: 0;
    margin-left: 15px;
  }

  .copyright--rights .copyright__item:first-child {
    display: none;
  }

  .copyright--confidentiality {
    order: 2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
  }

  .copyright--developer {
    width: 250px;
    order: 3;
    margin-left: auto;
    margin-right: auto;
  }

  .copyright--developer::before {
    display: none;
  }

  .copyright--developer .copyright__item:last-child {
    margin-left: 30px;
  }
}
