.feedback__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 570px;
  margin-left: 4px;
}

.feedback__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 140.6%;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  margin-bottom: 10px;
}

.feedback__description {
  margin-top: 10px;
  margin-bottom: 52px;
  margin-left: 4px;
}

.feedback__description,
.feedback__form ::placeholder,
.feedback__form textarea {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 134%;
  font-family: 'PT Mono', 'Arial', sans-serif;
}

.feedback__form input {
  color: #ffffff;
  width: 270px;
  border: none;
  background-color: #19baff;
  margin-bottom: 40px;
}

.feedback__form input[type="text"],
.feedback__form input[type="tel"] {
  width: 254px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 20px;
}

.feedback__form textarea {
  width: 100%;
  min-height: 140px;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 43px;
  border: none;
  background-color: #19baff;
}

.feedback__form input[type="submit"] {
  background-color: #00b2ff;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  padding: 14px 28px 12px 26px;
  border: 1px solid white;
  border-radius: 5px;
}

.feedback__form input[type="checkbox"] {
  width: 14px;
  display: none;
}

.feedback__label::before {
  position: absolute;
  left: 308px;
  top: 296px;
  content: '';
  width: 14px;
  height: 14px;
  background-color: #00b2ff;
  border: 1px solid white;
}

.feedback__label::after {
  display: none;
  position: absolute;
  left: 312px;
  top: 301px;
  content: '';
  width: 7.5px;
  height: 6px;
  background-image: url('../img/icon-check.svg');
}

.feedback__label {
  width: 205px;
  margin-top: 9px;
  margin-right: 24px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'PT Mono', 'Arial', sans-serif;
}

.feedback__form :checked ~ .feedback__label::after {
  display: block;
}

.feedback--popup {
  padding-top: 8px;
  padding-left: 30px;
  width: 455px;
  min-height: 604px;
  display: none;
  position: fixed;
  left: 38%;
  top: 15%;
  background-color: #00b2ff;
  z-index: 21;
}

.feedback__close {
  position: absolute;
  top: 20px;
  left: 446px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-cross.png");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback--popup .feedback__form {
  width: 410px;
}

.feedback--popup .feedback__title {
  font-size: 28px;
  margin-bottom: 13px;
  margin-left: 4px;
}

.feedback--popup .feedback__description {
  width: 370px;
  margin-bottom: 32px;
  margin-left: 5px;
}

.feedback--popup .feedback__form input[type="text"],
.feedback--popup .feedback__form input[type="tel"] {
  width: 100%;
}

.feedback--popup .feedback__form input {
  margin-bottom: 32px;
}

.feedback--popup .feedback__form textarea {
  min-height: 89px;
  margin-bottom: 30px;
}

.feedback--popup .feedback__form input[type="submit"] {
  width: 100%;
  margin-bottom: 38px;
}

.feedback--popup .feedback__label::before {
  top: 380px;
  left: 0;
}

.feedback--popup .feedback__label::after {
  left: 4px;
  top: 385px;
}

.feedback--popup .feedback__label {
  width: 450px;
  margin-top: 0;
  margin-left: 45px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .feedback__form {
    width: 591px;
  }

  .feedback__title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 32px;
  }

  .feedback__description {
    margin-bottom: 55px;
  }

  .feedback__form input {
    width: 278px;
    margin-bottom: 43px;
  }

  .feedback__form input[type="text"],
  .feedback__form input[type="tel"] {
    width: 264px;
  }

  .feedback__form textarea {
    min-height: 144px;
    margin-bottom: 46px;
  }

  .feedback__label::before {
    top: 305px;
    left: 319px;
  }

  .feedback__label::after {
    top: 310px;
    left: 323px;
  }

  .feedback__label {
    width: 205px;
    margin-top: 8px;
    margin-right: 33px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .feedback__form {
    width: 291px;
  }

  .feedback__title {
    font-size: 28px;
    margin-bottom: 15px;
    margin-left: 4px;
  }

  .feedback__description {
    margin-bottom: 28px;
    margin-left: 5px;
  }

  .feedback__form input[type="text"],
  .feedback__form input[type="tel"] {
    width: 100%;
  }

  .feedback__form input {
    margin-bottom: 32px;
  }

  .feedback__form textarea {
    min-height: 89px;
    margin-bottom: 30px;
  }

  .feedback__form input[type="submit"] {
    width: 100%;
  }

  .feedback__label::before {
    top: 375px;
    left: 0;
  }

  .feedback__label::after {
    top: 380px;
    left: 4px;
  }

  .feedback__label {
    margin-top: 0;
    margin-left: 34px;
  }
}
