.feedback__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 570px;
  margin-left: auto;
}

.feedback__title {
  width: 570px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 140.6%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin-left: auto;
  margin-bottom: 10px;
}

.feedback__description {
  width: 570px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 51px;
  margin-left: auto;
}

.feedback__description,
.feedback__form ::placeholder,
.feedback__form textarea {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 134%;
  font-family: "PT Mono", "Arial", sans-serif;
}

.feedback__form textarea:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.feedback__form input::-moz-placeholder,
.feedback__form textarea::-moz-placeholder {
  opacity: 1;
}

.feedback__form input {
  color: #ffffff;
  width: 270px;
  border: none;
  background-color: #19baff;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 134%;
  font-family: "PT Mono", "Arial", sans-serif;
}

.feedback__form input:hover {
  background-color: #19cdff;
}

.feedback__form input:focus {
  background-color: #19cdff;
}

.feedback__form .feedback__name,
.feedback__form .feedback__tel {
  width: 254px;
  padding-top: 14px;
  padding-left: 16px;
  padding-bottom: 17px;
}

.feedback__form textarea {
  width: 100%;
  min-height: 140px;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 43px;
  border: none;
  background-color: #19baff;
  overflow: auto;
}

.feedback__form textarea:hover {
  background-color: #19cdff;
}

.feedback__form textarea:focus {
  background-color: #19cdff;
}

.feedback__button {
  width: 270px;
  margin-bottom: 112px;
  background-color: #00b2ff;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  padding: 14px 28px 12px 26px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.feedback__button:hover {
  color: #1b2d37;
  border-color: #1b2d37;
}

.feedback__button:active {
  color: #000000;
  border-color: #000000;
}

.feedback__form input[type="checkbox"] {
  width: 14px;
  display: none;
}

.feedback__label::before {
  position: absolute;
  left: 308px;
  top: 296px;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #00b2ff;
  border: 1px solid white;
}

.feedback__label::after {
  display: none;
  position: absolute;
  left: 312px;
  top: 301px;
  content: "";
  width: 8px;
  height: 8px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
}

.feedback__label {
  width: 205px;
  height: 50px;
  padding-left: 30px;
  margin-top: 7px;
  margin-right: 24px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Mono", "Arial", sans-serif;
  cursor: pointer;
  outline: none;
}

.feedback__label:hover {
  color: #1b2d37;
}

.feedback__form :checked ~ .feedback__label::after {
  display: block;
}

.feedback--popup {
  padding-top: 8px;
  padding-left: 34px;
  padding-right: 34px;
  width: 420px;
  min-height: 597px;
  display: none;
  position: fixed;
  left: 37.5%;
  top: 14.6%;
  background-color: #00b2ff;
  z-index: 21;
}

.feedback__close-button {
  display: none;
}

.feedback__close::after {
  position: absolute;
  top: 30px;
  left: 450px;
  background-color: #ffffff;
  transform: rotate(45deg);
  content: "";
  width: 23px;
  height: 1px;
  cursor: pointer;
}

.feedback__close::before {
  position: absolute;
  top: 30px;
  left: 450px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  content: "";
  width: 23px;
  height: 1px;
  cursor: pointer;
}

.feedback--popup .feedback__form {
  width: 412px;
}

.feedback--popup .feedback__title {
  font-size: 28px;
  margin-bottom: 13px;
  margin-left: 4px;
}

.feedback--popup .feedback__description {
  width: 370px;
  margin-bottom: 32px;
  margin-left: 5px;
}

.feedback__form-popup .feedback__name-popup,
.feedback__form-popup .feedback__tel-popup {
  width: 100%;
  padding-top: 13px;
  padding-left: 24px;
  padding-bottom: 18px;
}

.feedback__form-popup input {
  margin-bottom: 30px;
}

.feedback__form-popup textarea {
  padding-left: 24px;
  min-height: 89px;
  margin-bottom: 32px;
}

.feedback__button-popup {
  width: 100%;
  margin-bottom: 35px;
  background-color: #00b2ff;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  padding: 14px 28px 12px 26px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.feedback__button-popup:hover {
  color: #1b2d37;
  border-color: #1b2d37;
}

.feedback__button-popup:active {
  color: #000000;
  border-color: #000000;
}

.feedback--popup .feedback__label::before {
  top: 380px;
  left: 1px;
}

.feedback--popup .feedback__label::after {
  left: 5px;
  top: 385px;
}

.feedback--popup .feedback__label {
  width: 450px;
  margin-top: 0;
  padding-left: 50px;
}

.feedback__label-popup span {
  margin-left: 7px;
}

.feedback-show {
  display: block;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .feedback__container {
    width: 100%;
  }

  .feedback__form {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
  }

  .feedback__title {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 32px;
  }

  .feedback__description {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
  }

  .feedback__form input {
    width: 278px;
    margin-bottom: 43px;
  }

  .feedback__form input[type="text"],
  .feedback__form input[type="tel"] {
    width: 264px;
    padding-left: 18px;
  }

  .feedback__form input[type="tel"] {
    width: 260px;
  }

  .feedback__form textarea {
    min-height: 144px;
    margin-bottom: 46px;
    padding-left: 18px;
  }

  .feedback__button {
    width: 280px;
    margin-bottom: 103px;
    margin-left: 2px;
    padding-left: 30px;
    padding-bottom: 14px;
  }

  .feedback__label::before {
    top: 308px;
    left: 324px;
  }

  .feedback__label::after {
    top: 314px;
    left: 327px;
  }

  .feedback__label {
    width: 205px;
    margin-top: 9px;
    margin-right: 30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .feedback__form {
    width: 291px;
    margin-left: auto;
    margin-right: auto;
  }

  .feedback__title {
    width: 291px;
    font-size: 28px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .feedback__description {
    width: 291px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .feedback__form input[type="text"],
  .feedback__form input[type="tel"] {
    width: 100%;
  }

  .feedback__form input {
    margin-bottom: 31px;
  }

  .feedback__form textarea {
    min-height: 89px;
    margin-bottom: 31px;
  }

  .feedback__button {
    width: 100%;
    margin-bottom: 31px;
  }

  .feedback__label::before {
    top: 377px;
    left: 0;
  }

  .feedback__label::after {
    top: 383px;
    left: 4px;
  }

  .feedback__label {
    padding-left: 0;
    margin-top: 0;
    margin-left: 34px;
  }
}
