.nav {
  width: 423px;
  margin-right: auto;
  order: -3;
}

.nav__title {
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #1b2d37;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.nav input {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nav {
    width: 240px;
    order: 0;
    margin-bottom: 0;
    margin-right: auto;
  }

  .nav__title {
    width: 285px;
    margin-left: 8px;
    margin-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav {
    width: 320px;
    position: relative;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;
    order: 0;
  }

  .nav__title {
    display: block;
    width: 285px;
    margin-left: 15px;
    margin-bottom: 33px;
  }

  .nav__tab-title {
    position: absolute;
    top: -30px;
    left: -15px;
    width: 320px;
    height: 72px;
  }

  .nav__tab-title::before {
    position: absolute;
    top: 37px;
    left: 303px;
    content: "";
    width: 14px;
    height: 2px;
    background-color: #c4c4c4;
  }

  .nav__tab-title::after {
    position: absolute;
    top: 31px;
    left: 309px;
    content: "";
    width: 2px;
    height: 14px;
    background-color: #c4c4c4;
  }

  .nav :checked ~ .nav__tab-title::after {
    display: none;
  }

  .nav :checked ~ .site-list {
    display: block;
  }

  .nav :checked + .page-footer__wrapper::after {
    top: 360px;
  }
}
