.offers__container {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

.offers-title {
  margin-left: 0.72vw;
  margin-bottom: 51px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 140.6%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.offers__list {
  margin: 0;
  padding: 0;
  margin-right: -17px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.offers__item {
  position: relative;
  width: 370px;
  height: 620px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #24333b;
  overflow: hidden;
}

.offers__image {
  width: 370px;
  height: 620px;
}

.offers__item:last-child {
  margin-bottom: 25px;
}

.offers__item:hover span {
  color: #19cdff;
}

.offers__item:hover svg {
  fill: #19cdff;
}

.offers__item:active span {
  color: #00b2ff;
}

.offers__item span {
  position: absolute;
  top: 50px;
  left: 44px;
  width: 170px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.offers__item svg {
  position: absolute;
  right: 0;
  bottom: 0;
  fill: #00b2ff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offers__container {
    width: 100%;
  }

  .offers__list {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers-title {
    width: 720px;
    font-size: 32px;
    margin-bottom: 51px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers__item {
    width: 720px;
    height: 256px;
    margin-bottom: 45px;
  }

  .offers__item:last-child {
    margin-bottom: 80px;
  }

  .offers__item:not(.offers__item--lighting) {
    margin-right: 0;
  }

  .offers__image {
    width: 720px;
    height: 256px;
  }

  .offers__item span {
    top: 42px;
  }

  .offers__item--lighting span {
    top: 52px;
  }

  .offers__text {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .offers__list {
    margin-left: auto;
    margin-right: auto;
  }

  .offers-title {
    width: 275px;
    font-size: 28px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers__item:not(.offers__item--lighting) {
    margin-right: auto;
  }

  .offers__item {
    width: 290px;
    height: 256px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers__item:last-child {
    margin-bottom: 64px;
  }

  .offers__image {
    width: 290px;
    height: 256px;
  }

  .offers__item span {
    top: 20px;
    left: 35px;
  }

  .offers__item--lighting span {
    top: 30px;
  }
}
