.offers__container {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

.offers-title {
  margin-left: 0.72vw;
  margin-bottom: 51px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 140.6%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.offers__list {
  margin: 0;
  padding: 0;
  margin-right: -17px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.offers__item {
  position: relative;
  padding-right: 165px;
  padding-left: 45px;
  padding-top: 50px;
  min-width: 100px;
  width: 12vw;
  max-width: 160px;
  min-height: 570px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #24333b;
  cursor: pointer;
}

.offers__item--production {
  background-image: url("../img/background-offers-production.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.offers__item--assembling {
  background-image: url("../img/background-offers-assembling.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.offers__item--lighting {
  background-image: url("../img/background-offers-lighting.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.offers__item:hover span {
  color: #19cdff;
}

.offers__item:hover svg {
  fill: #19cdff;
}

.offers__item:active span {
  color: #00b2ff;
}

.offers__item a {
  text-decoration: none;
}

.offers__item span {
  min-width: 160px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.offers__item svg {
  position: absolute;
  right: 0;
  bottom: 0;
  fill: #00b2ff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offers__container {
    width: 100%;
  }

  .offers__list {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers-title {
    width: 720px;
    font-size: 32px;
    margin-bottom: 51px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers__item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 41px;
    min-width: 720px;
    min-height: 217px;
    margin-bottom: 45px;
  }

  .offers__item--production {
    background-image: url("../img/background-offers-production-tablet.png");
  }

  .offers__item--assembling {
    background-image: url("../img/background-offers-assembling-tablet.png");
  }

  .offers__item--lighting {
    background-image: url("../img/background-offers-lighting-tablet.png");
  }

  .offers__item:last-child {
    margin-bottom: 75px;
  }

  .offers__item:not(.offers__item--lighting) {
    margin-right: 0;
  }

  .offers__item span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 45px;
    width: 140px;
  }

  .offers__item--lighting span {
    margin-top: 9px;
  }

  .offers__text {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .offers_wrapper {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers__list {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers-title {
    width: 290px;
    font-size: 28px;
    margin-bottom: 42px;
    margin-left: 10px;
  }

  .offers__item:not(.offers__item--lighting) {
    margin-right: auto;
  }

  .offers__item {
    width: 290px;
    min-width: 290px;
    min-height: 237px;
    margin-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .offers__item--production {
    background-image: url("../img/background-offers-production-mobile.png");
  }

  .offers__item--assembling {
    background-image: url("../img/background-offers-assembling-mobile.png");
  }

  .offers__item--lighting {
    background-image: url("../img/background-offers-lighting-mobile.png");
  }

  .offers__item:last-child {
    margin-bottom: 66px;
  }

  .offers__item span {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    margin-left: 35px;
  }

  .offers__item--lighting span {
    margin-top: 13px;
  }
}
