.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #1b2931;
  color: #ffffff;
  background-image: url("../img/background-page-header-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 878px;
}

.page-header__wrapper {
  position: relative;
  padding-top: 33px;
  margin-bottom: 160px;
}

.page-header__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1455px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 225px;
}

.page-header__logo {
  margin-left: 25px;
}

.page-header__logo-image {
  width: 202px;
  height: 52px;
}

.page-header__offer {
  height: 407px;
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1vw;
  position: relative;
}

.page-header__title {
  margin-bottom: 25px;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0.07em;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
}

.page-header__description {
  width: 621px;
  margin-left: 98px;
  margin-right: auto;
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 156.8%;
}

.page-header__description::before {
  position: absolute;
  top: 139px;
  left: 1.25vw;
  content: "";
  width: 66px;
  height: 2px;
  background-color: #ffffff;
}

.page-header__link,
.page-header__link-mobile {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin-left: 97px;
  padding: 17px 45px 19px 46px;
  background-color: #00b2ff;
  border-radius: 5px;
}

.page-header__link:hover {
  color: #00b2ff;
  background-color: #ffffff;
}

.page-header__link:active {
  color: #000000;
}

.page-header__link-mobile {
  display: none;
}

.page-header__scroll {
  display: block;
  width: 100px;
  margin-top: 128px;
  margin-left: -40px;
  transform: rotate(-90deg);
  text-decoration: none;
  color: #ffffff;
  opacity: 50%;
  font-size: 14px;
  font-weight: 400;
}

.page-header__scroll:hover {
  color: #00b2ff;
}

.page-header__scroll:active {
  color: #000000;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-header {
    min-height: 685px;
    background-image: url("../img/background-page-header-tablet.jpg");
    background-position: center;
  }

  .page-header__wrapper {
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 22px;
    margin-bottom: 61px;
  }

  .page-header__container {
    min-width: 723px;
    margin-bottom: 111px;
  }

  .page-header__logo {
    margin-left: 5px;
  }

  .page-header__offer {
    padding-left: 69px;
  }

  .page-header__title {
    width: 535px;
    font-size: 60px;
  }

  .page-header__description {
    width: 495px;
    margin-left: 50px;
    font-size: 18px;
    margin-bottom: 56px;
  }

  .page-header__description::before {
    top: 186px;
    left: 72px;
    width: 33px;
  }

  .page-header__link {
    margin-left: 51px;
    padding: 17px 31px 19px 31px;
    margin-bottom: 102px;
  }

  .page-header__scroll {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page-header {
    min-height: 157px;
    background-image: url("../img/background-page-header-mobile.jpg");
    background-position: center;
  }

  .page-header__wrapper {
    padding: 17px 0 0 0;
    margin-bottom: 0;
    height: 630px;
  }

  .page-header__container {
    min-width: 315px;
  }

  .page-header__logo {
    margin-left: 17px;
  }

  .page-header__logo-image {
    width: 38px;
    height: 38px;
  }

  .page-header__offer {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  .page-header__title {
    width: 250px;
    font-size: 40px;
    margin-left: 0;
    margin-bottom: 28px;
  }

  .page-header__description {
    width: 250px;
    margin-left: 50px;
    margin-bottom: 42px;
    font-size: 16px;
  }

  .page-header__description::before {
    width: 32px;
    top: 138px;
    left: 4px;
  }

  .page-header__link {
    display: none;
  }

  .page-header__link-mobile {
    width: 227px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
    padding: 17px 28px 19px 32px;
    margin-bottom: 70px;
    letter-spacing: 0.06em;
  }

  .page-header__scroll {
    display: none;
  }
}
