.page-footer {
  position: relative;
}

.page-footer__wrapper {
  padding-top: 65px;
  padding-bottom: 16px;
  background-color: #fafafa;
}

.page-footer__wrapper::before {
  position: absolute;
  left: 0;
  top: 264px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #dcdddc;
}

.page-footer__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1435px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.page-footer__logo {
  width: 220px;
  margin-left: 10px;
  margin-right: auto;
  order: -4;
}

.page-footer__logo-image {
  width: 216px;
  height: 52px;
}

.page-footer__copyright:first-of-type {
  margin-right: 10.5vw;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-footer__container {
    min-width: 730px;
    max-width: 810px;
  }

  .page-footer__logo {
    margin-right: auto;
    margin-bottom: 59px;
    margin-left: 6px;
    order: -4;
  }

  .page-footer__wrapper {
    padding: 0;
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 20px;
    padding-bottom: 16px;
  }

  .page-footer__wrapper::after {
    position: absolute;
    left: 0;
    top: 95px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dcdddc;
  }

  .page-footer__wrapper::before {
    top: 390px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page-footer__container {
    width: 320px;
    max-width: 810px;
  }

  .page-footer__wrapper {
    padding: 0;
    padding-top: 46px;
    padding-bottom: 25px;
    margin: 0;
  }

  .page-footer__logo {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    order: -4;
  }

  .page-footer__wrapper::before {
    top: 261px;
  }

  .page-footer__wrapper::after {
    position: absolute;
    left: 0;
    top: 334px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dcdddc;
  }
}
