.page-main__wrapper {
  position: relative;
  min-height: 1152px;
  padding-top: 112px;
  background-color: #ffffff;
  background-image: url("../img/background-advantages-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-main__wrapper--offers {
  min-height: 878px;
  padding-top: 59px;
  background-image: none;
  background-color: #1b2d37;
}

.page-main__wrapper--feedback {
  min-height: 608px;
  padding-top: 62px;
  padding-left: 0;
  padding-right: 18.65vw;
  background-color: #00b2ff;
  background-image: url("../img/background-feedback.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-main__wrapper {
    min-height: 1057px;
    padding: 0;
    padding-top: 56px;
    background-image: url("../img/background-advantages-tablet.jpg");
    background-position: 14vw -23vw;
  }

  .page-main__wrapper--offers {
    min-height: 1102px;
    padding-top: 25px;
    background-image: none;
    background-color: #1b2d37;
  }

  .page-main__wrapper--feedback {
    min-height: 583px;
    padding: 0;
    padding-top: 80px;
    background-color: #00b2ff;
    background-image: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page-main__wrapper {
    padding: 0;
    padding-top: 37px;
    background-image: url("../img/background-advantages-tablet.jpg");
    background-position: -37.5vw 203.12vw;
  }

  .page-main__wrapper--offers {
    padding-top: 29px;
    background-image: none;
  }

  .page-main__wrapper--feedback {
    padding: 0;
    padding-top: 6px;
    min-height: 634px;
  }
}
