.social__list {
  width: 1000px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  order: -1;
}

.social__item {
  position: absolute;
  top: -108px;
  left: 13px;
}

.social__item--ok {
  left: 55px;
}

.social__item--vk {
  left: 98px;
}

.social__item svg {
  fill: #cdcdcd;
}

.social__item svg:hover {
  fill: #00b2ff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .social__list {
    width: 148px;
    order: -2;
  }

  .social__item {
    top: 10px;
  }

  .social__item--fb {
    left: 35px;
  }

  .social__item--ok {
    left: 77px;
  }

  .social__item--vk {
    left: 119px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .social__list {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    order: -3;
  }

  .social__item {
    top: -110px;
  }

  .social__item--fb {
    left: 103px;
  }

  .social__item--ok {
    left: 145px;
  }

  .social__item--vk {
    left: 188px;
  }
}
